{% load static %}

{% block slider %} {% include 'slider.html' %} {% endblock %}

<section class="bar background-pentagon no-mb text-md-center">
    <div class="container">
        <div class="heading text-center">
            <h2>Touristic Places</h2>
        </div>
        <p class="lead">If you're looking to start your own checklist of places to visit during your life, begin with
            our list of the top tourist attractions in the world.</p>
        <!-- Carousel Start-->
        <ul class="owl-carousel testimonials list-unstyled equal-height">
            {% for rs in randomplaces %}
                <li class="item">
                    <div class="testimonial d-flex flex-wrap">
                        <div class="text">
                            <p>{{ rs.description }}</p>
                        </div>
                        <div class="bottom d-flex align-items-center justify-content-between align-self-end">

                            <div class="testimonial-info d-flex">
                                <div class="title">
                                    <h5><a href="/place/{{ rs.id }}/{{ rs.slug }}"> {{ rs.title }} </a></h5>
                                    <p>{{ rs.city }}</p>
                                </div>
                                <div class="avatar"><img alt="" src="{{ rs.image.url }}" class="img-fluid"></div>
                            </div>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <!-- Carousel End-->
    </div>
</section>


<section style="background: url({% static 'img/kapa.jpg' %}) center top no-repeat; background-size: cover;"
         class="bar no-mb color-white text-center bg-fixed relative-positioned">
    <div class="dark-mask"></div>
    <div class="container">
        <div ><i ></i></div>
        <h3 class="text-uppercase"></h3>
        <p class="lead">
            </p>
        <p class="text-center">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>


     </p>
    </div>
</section>
<section class="bg-white bar">
    <div class="container">
        <div class="heading text-center">
            <h2>Category Places</h2>
        </div>
        <p class="lead"> The most beautiful places recommended for you. <a href="blog.html">Check our blog</a></p>
        <div class="row">
            {% for rs in popularplaces %}
                <div class="col-lg-3">
                    <div class="home-blog-post">
                        <div class="image"><img src="{{ rs.image.url }}" style="height: 200px" alt="..."
                                                class="img-fluid">
                            <div class="overlay d-flex align-items-center justify-content-center"><a
                                    href="/place/{{ rs.id }}/{{ rs.slug }}" class="btn btn-template-outlined-white"><i
                                    class="fa fa-chain"> </i> View Detail</a></div>
                        </div>
                        <div class="text">
                            <h4><a href="#">{{ rs.title }} </a></h4>
                            <p class="intro">{{ rs.description }}.</p><a href="/place/{{ rs.id }}/{{ rs.slug }}"
                                                                         class="btn btn-template-outlined">View
                            Detail</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

