{% extends "homebase.html" %}

{% block title %} Sign Up -{{ setting.company }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}'/>
{% endblock %}


{% block topbar %}
    {% include "topbar.html" %}
{% endblock %}

{% block content %}

    <div id="heading-breadcrumbs">
        <div class="container">
            <div class="row d-flex align-items-center flex-wrap">
                <div class="col-md-7">
                    <h1 class="h2">New Account </h1>
                </div>
                <div class="col-md-5">
                    <ul class="breadcrumb d-flex justify-content-end">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active">New Account</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 mx-auto">
        <div class="modal-header">
            <h5 class="modal-title">New account</h5>
        </div>
        <div class="modal-body">
            <p class="lead">Not our registered customer yet?</p>
            <p class="text-muted">If you have any questions, please feel free to <a href="/contactus">contact us</a>,
                our customer service center is working for you 24/7.</p>
            </hr>
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <p>
                        {{ field.label_tag }}<br>
                    <div class="form-group">
                        {{ field }}
                    </div>
                    {% if field.help_text %}
                        <small style="color: gray">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                    </p>
                {% endfor %}
                <p class="text-center">
                    <button class="btn btn-primary" type="submit" value="Login"><i class="fa fa-user-plus"></i> Register
                    </button>
                </p>
            </form>
        </div>
    </div>

{% endblock %}

