
            <div id="customer-orders" class="col-md-9">
              <div class="box mt-0 mb-lg-0">
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>   </th>
                        <td><img src="{{ profile.image.url }}"></td>
                      </tr>
                      <tr>
                           <th>Name Surname</th>
                           <th>{{ profile.user.first_name }}</th>
                      </tr>
                      <tr>
                           <th>Phone</th>
                           <td>{{ profile.phone }}</td>
                      </tr>
                      <tr>
                           <th>Email</th>
                           <td>{{ profile.email }}</td>
                      </tr>
                      <tr>
                           <th>Address</th>
                           <td>{{ profile.address }}</td>
                      </tr>
                      <tr>
                           <th>City</th>
                           <td>{{ profile.city }}</td>
                      </tr>
                      <tr>
                           <th>Country</th>
                           <td>{{ profile.country }}</td>
                      </tr>

                      </tr>
                    </thead>

                  </table>
                </div>
              </div>
            </div>